@*
    model... hier wird der Datentyp in dieser View angegeben, dieser muss mit dem Datentyp
             der Instanzvariable, welche an die View übergeben wurde, übereinstimmen

        es wird eine strongly typed view erzeugt
        (streng typisierte View)

*@
@model List<socialforms.Models.User>


@{
    ViewData["Title"] = "Hallo";
}
else
{
    <table>
        <thead>
            <tr>
                <th colspan="7">Ihre socialforms :)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Anzahl Fragen</th>
                <th>Bereits abgegebe Antworten</th>
                <th>Erstellt am</th>
            </tr>

            @foreach (User u in Model)
            {
                <tr>
                    <td>@u.PersonId</td>
                    <td>@u.Username</td>
                    <td>@u.Email</td>
                    <td>@u.Birthdate.ToLongDateString()</td>
                    <td>@u.Gender</td>
                    <td>
                        @*senden an den User-Controller und dort an die Action (Methode) delete*@
                        <form action="/user/delete/@u.PersonId" method="get">
                            <input type="submit" value="delete" />
                        </form>
                    </td>
                    <td>
                        <form action="/user/update/@u.PersonId" method="get">
                            <input type="submit" value="update" />
                        </form>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">Benutzerverwaltung</th>
            </tr>
        </tfoot>

    </table>
}

